<h1>Comparison#summary</h1>
<p>Find me in app/views/comparison/summary.html.erb</p>

<table>
	<tr>
		<th>Test</th>
		<th>Blekko</th>
	</tr>

	<tr>
		<td>
		<%= @blekko_map %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<th>Bing</th>
	</tr>

	<tr>
		<td><%= @bing_map %></td>
	</tr>
</table>

<table>
	<tr>
		<th>Entireweb</th>
	</tr>

	<tr>
		<td><%= @entire_map %></td>
	</tr>
</table>

<table>
	<tr>
		<th></th>
		<th>Aggregated</th>
	</tr>

	<tr>
		<td>
		</td>
	</tr>
</table>

