<h1>Search Engine Evaluation MAP</h1>

<div class="map-div">
	
	<table>
		<thead>
			<th>Blekko</th>
		</thead>
	
		<tr>
			<td><%= @blekko_map %>%</td>
		</tr>
	</table>
	
	<table>
		<thead>
			<th>Bing</th>
		</thead>
	
		<tr>
			<td><%= @bing_map %>%</td>
			
		</tr>
		
	</table>
	
	<table>
		<thead>
			<th>Entireweb</th>
		</thead>
	
		<tr>
			<td><%= @entire_map %>%</td>
		</tr>
	</table>
	
	<table>
		<thead>
			<th>Aggregated</th>
		</thead>
	
		<tr>
			<td><%= @aggregated_map %>%</td>
		</tr>
	
	</table>



</div>
