<h1>Search Engine Evaluation MAP</h1>


<table>
	<tr>
		<th>Blekko</th>
	</tr>

	<tr>
		<td>
		<%= @blekko_map %>
		</td>
	</tr>
</table>

<table>
	<tr>
		<th>Bing</th>
	</tr>

	<tr>
		<td><%= @bing_map %></td>
		
	</tr>
	
</table>

<table>
	<tr>
		<th>Entireweb</th>
	</tr>

	<tr>
		<td><%= @entire_map %></td>
	</tr>
</table>

<table>
	<tr>
		<th>Aggregated</th>
	</tr>

	<tr>
		<td><%= @aggregated_map %></td>
	</tr>

</table>


<div>
</div>
