<h3>Bing Results</h3>

	<%= paginate @bing %>
	
	<table>
	<% @bing.each do |item| %>
		<tr>
			<td>
				<div class="resTitle"><%= truncate(item.title, :length => 35) %></div>
				<div class="resUrl"><%=link_to truncate(item.url,:length => 40 ), item.url %></div>
				<div class="resDesc"><%= truncate(item.description, :length => @trunc) %></div>
			</td>
		</tr>
		<% end %>
	</table>
