<h3>Blekko Results</h3>

	<%= paginate @blekko %>
	
	<table>
	<% @blekko.each do |item| %>
		<tr>
			<td>
				<div class="resTitle"><%= link_to truncate(item.title, :length => 35), item.url %></div>
				<div class="resDesc"><%= truncate(item.description, :length => 220) %></div>
				<div class="resUrl"><%= truncate(item.url, :length => @trunc)%></div>
			</td>
		</tr>
		<% end %>
	</table>
