<h3>Entireweb Results</h3>

	<%= paginate @entireweb %>
	
	<table>
	<% @entireweb.each do |item| %>
		<tr>
			<td>
				<div class="resTitle"><%= truncate(item.title) %></div>
				<div class="resUrl"><%=link_to truncate(item.url), item.url %></div>
				<div class="resDesc"><%= truncate(item.description, :length => @trunc) %></div>
			</td>
		</tr>
		<% end %>
	</table>
