<h3>Entireweb Results</h3>

	<%= paginate @entireweb %>
	
	<table>
	<% @entireweb.each do |item| %>
		<tr>
			<td>
				<div class="resTitle"><%= link_to truncate(item.title, :length => 35), item.url %></div>
				<div class="resDesc"><%= item.description %></div>
				<div class="resUrl"><%= truncate(item.url, :length => @trunc)%></div>
			</td>
		</tr>
		<% end %>
	</table>
