<%= render 'search'%>

	
	<div class="result-container">
	<% unless @blekko.empty? %>
		<div id="blekkoDiv" class="result_div">
			<%= render 'blekko.html.erb'%>
		</div>
	<% end %>
	
	<% unless @entireweb.empty? %>
		<div id="entireDiv" class="result_div">
			<%= render 'entireweb.html.erb'%>
		</div>
	<% end %>
	
	<% unless @bing.empty? %>
		<div id="bingDiv" class="result_div">
			<%= render 'bing.html.erb'%>
		</div>
	<% end %>
</div>
