// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{ margin:0; padding:0;}
body{ font:100% normal Arial, Helvetica, sans-serif; background-color: #f25;}
form,input,select,textarea{margin:0; padding:0; color:#000;}
//h1 {font-size: 0px;}


@font-face
{
font-family: LogoFont;
src: url('Ubuntu-L.ttf'),
     url('Ubuntu-L.eot'); /* IE9+ */
}
#wrapper {
		 overflow: auto;
	 }
.search-small{
	 
	
 	width: 75%;
 	background-image: url('gradientfromtop.gif');
 	background-repeat:repeat-x;
	margin: 0 auto 0 auto ;
		padding: 2em 15em 0 15em;
 	overflow: none;
 	height: 10em;
 	 
 	.small-logo {
 	 
 		 font-family: LogoFont;
 		 font-size: 1.5em;
 	 
 	}
 	.small-search-field{
 
		width: 15em;
		font-size: 1.5em;
		border-style: solid;
		padding: 3px;
 
 	 }
	 .small-search-type {
	 	 margin: 20px;
	 
	 }
	 .small-search-button {
	 
	 	 padding: 3px;
	 	 font-size: 1em;
	 
	 }
	 .query-panel {
		 float: right;
		 margin-right: 2em;
	 }
	 
	 .result-style {
	 	 float: right;
	 	 margin-right: 2em;
	 }
 }
.mainSearchDiv {
background-color: #fff;
	width: 35%;
	height: 20em;
	border: black solid 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
	padding: 5em 7em;
	text-align: center;
	
	span.logo {
		
		margin-left: auto;
		margin-right: auto;	
		margin-bottom: 4em;
		display:block;
		
		
		
		h1 {
			
			width: auto;
			display: inline;
			font-family: LogoFont;
			font-size: 5em;
		}
		
	}
	
	
	.searchBox {
		margin-left: auto;
		margin-right: auto;
		display: block;
	
	}
	
	.searchField {
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: 1em;
		padding: 7px;
		width: 20em;
		background-color: #fee;
		font-size: 2em;
		border: solid grey 1px;
	}
	
	.checkBox {
	
		font-size: 1.2em;
	
	}
	.search-type {
	
		padding: 10px;
	}
	.searchButton {
		margin-left: auto;
		margin-right: auto;
		margin-bottom:1em;
		display: block;
		width: 8em;
		padding: 0.5em;
		font-size: 1.4em;
		cursor: pointer;
	}
}

.round	{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
 
$td_color: #ddd;
$url_color: #444;
$result_width: 360px;
.result-container {
	margin:0 auto;
	width: 80%;
	.result_div {
		float: left;
		margin: 0 15px;
			table{
				background-color: #fff;
					tr{
						td {
							height: 9em;
							max-height: 9em;
							background-color: $td_color;
							padding: 3%;
							overflow: auto;
								.resTitle {
									height: 20%;
									font-size: 1.2em;	
								}
								.resDesc {
									
									height: 60%;
									font-size: 1em;
								}
								
								.resUrl {
									color: $url_color;
									height: 10%;
									font-size: 0.8em;
								}
							}	
					}
			}
	}
}

$agg_width: 1000px;

.aggregated{
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	width: $agg_width;
	
	tr{
		padding: 5em;
			td {
			
				height: 6em;
				background-color: $td_color;
				padding: 3%;
				max-width: $agg_width;
				overflow: auto;
				
				.resTitle p {
					margin: 0em 0em 0.5em 0em;
					height: 20%;
					font-size: 1.5em;
					
					
					}
				
				.resDesc {
					height: 50%;
					font-size: 1em;
					}
				.resUrl {
					height: 10%;
					font-size: 0.8em;
					}
				
				.score {
					float:right;
					display:block;
					font-size: 0.8em;
					padding: 4px;
					}
				
				.db_name {
					float:right;
					display:block;
					font-size: 0.8em;
					padding: 4px;
					}
			}	
	}
}
	
li {
	list-style-type: none;
	}

.no-decoration {
	color: #000;
	text-decoration: none;
	}

.result-style {
	float: right;
	}
			
.background {
	
	margin-left: auto;
	width: 90%;
	height:1000px;
	margin-right: auto;
	overflow: none;
		.cluster-labels {
			background-color: #ded;
			float:left;
			width: 15%;
			padding: 0.8em;
			margin-top: 1.5em;
				p.cluster-labels-hdr {
					font-weight: bold;
					font-size: 18px;
					text-align:center;
					margin-bottom:1.5em;
				}
				li {
					padding: 3px;
				}
			}
			
		.clustered {
			float:right;
			background-color: #fff;
			width: 90%;
			
				tr{
					padding: 5em;
					td {
					height: 7em;
					background-color: $td_color;
					padding: 3%;
					max-width: 90%;
					overflow: auto;
						.resTitle {
							margin: 0em 0em 0.5em 0em;
							line-height: 1.6em;
							font-size: 1.6em;
							}
						
						.resDesc {
							height: 50%;
							font-size: 1em;
							}
						
						.resUrl {
							height: 10%;
							font-size: 0.8em;
						}
						.score {
							float:right;
							display:block;
							font-size: 0.8em;
							padding: 4px;
							}
						
						.db_name {
							float:right;
							display:block;
							font-size: 0.8em;
							padding: 4px;
							}
					}	
				}
		}


}
